.marko-drawer-container {
    position: relative;
    transition: all 1s;
}

.marko-drawer-container.pinned {
    height: 100%;
}

.marko-drawer {
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #448AFF;
    height: 100%;
    width: 250px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1.0em;
    transition: all 1s;
}


.marko-drawer.floating {
    position: fixed;
    top: 0;
}

.marko-drawer.floating.leftSide {
    position: fixed;
    left: 0;
}

.marko-drawer.floating.rightSide {
    position: fixed;
    right: 0;
}

.marko-drawer-header-container,
.marko-drawer-body-container,
.marko-drawer-footer-container {
    display: flex;
    flex-direction: column;
}

.marko-drawer-body-container {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
}

.marko-drawer-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    opacity: 0.5;
    background-color: black;
}
