div
  p
    -- this is the beer component
  button onClick('handleClick')
    -- Move to /charts/deep-nested-chart
  p
    -- nested routes will show up below
  div if(input.renderBody)
    include(input.renderBody)
