<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title
      -- Marko notification demo
    meta name="viewport" content="width=device-width, initial-scale=1"
    lasso-head
  body
    app
    lasso-body
    init-components
